<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head  th:replace="~{uTemplate.html :: header(Profile)}"></head>

<body>

<div  th:replace="uTemplate.html :: top"> </div>

<div  class="sidebar" th:insert="uTemplate.html :: sidebar"></div>

       
     <!-- main --> 
  
  <div class="container">
    <h1>Edit Profile</h1>
      <hr>
    <div class="row">
      <!-- left column -->
     <div class="col-sm-3">
   
  </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="col-sm-9 alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert"></a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        
        <form class="form-horizontal" role="form" th:object="${user}">

        
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">UserName</label>
            <div class="col-sm-9">
                <input type="text" class="form-control"  th:field = "*{userName}"/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control"  th:field = "*{password}"/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">FullName</label>
            <div class="col-sm-9">
                <input type="text" class="form-control"  th:field= "*{fullName}"/>
            </div>
        </div>
        
        
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Email</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" th:field = "*{email}"/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Avatar</label>
            <div class="col-sm-9">
                <input type="file" class="form-control" name="upAvatar" accept ="image/*"/>
            </div>
        </div>
        
       <input type="hidden" th:field="*{avatar}" />
       <input type="hidden" th:field="*{id}" id="user_id" />
       
        <div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
											   
												<button class="btn btn-info" type="button" id="btnAddOrUpdateNew">
													<i class="ace-icon fa fa-check bigger-110"></i>
													UPDATE
												</button>											  										

											&nbsp; &nbsp; &nbsp;
											<button class="btn btn btn-secondary" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												CANCEL
											</button>
							</div>		
						</div>
        </form>
      </div>
  </div>
  <hr>
</div>
    <div th:replace="uTemplate.html :: script"></div>
    
    <script>
	 $('#btnAddOrUpdateNew').click(function (e) {
	    e.preventDefault();
	    $("#btnAddOrUpdateNew").prop("disabled", true);
	    var data = new FormData();
	    var datas = {};
	    var formData = $('.form-horizontal').serializeArray();
	    $.each(formData, function (i, v) {
            datas[""+v.name+""] = v.value;
        });
	    data.append('user', new Blob([JSON.stringify(datas)], {
            type: "application/json" }));
    	data.append('upAvatar', $('input[type=file]')[0].files[0]); 
	    	updateNews(data);
	    
	});
	
	
	function updateNews(data) {
		$.ajax({
            url: '/user/api/profile',
            type: 'PUT',
            processData: false,
            contentType: false,
            data: data,
            dataType: 'json',
            success : function(result) {
            	swal("Good job!", "Update Profile Success!", "success").then(() => {
            		window.location.href = "/";
            	})
			},
			error : function(e) {
				 var json = "UPDATE FAIL" + "\n" + e.responseText;
                 alert(json);
                 location.reload();
			}
        });
	} 
</script>
</body>
</html>