<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<head  th:replace="~{uTemplate.html :: header(Video)}"></head>

<div  th:replace="uTemplate.html :: top"> </div>

<div  class="sidebar" th:insert="uTemplate.html :: sidebar"></div>
 
  <body class="bg-light">
    

    <!-- Main body -->
    <div class="container">
    
      <!-- Table -->
      <div class="table-responsive" >
      <div class="widget-box table-filter">
								<div class="table-btn-controls">
									<div class="pull-right tableTools-container">
										<div class="dt-buttons btn-overlap btn-group">
											<a flag="info"
												class="dt-button buttons-colvis btn btn-white btn-primary btn-bold"
												data-toggle="tooltip" title='Add New'
												th:href='@{/user/{uid}/video/edit(uid=${#authentication.principal.user.id})}'> <span> <i
													class="fa fa-plus-circle bigger-110 purple"></i>
											</span>
											</a>
											<button id="btnDelete" type="button"
												onclick="warningBeforeDelete()"
												class="dt-button buttons-html5 btn btn-white btn-primary btn-bold"
												data-toggle="tooltip" title='Delete'>
												<span> <i class="fa fa-trash-o bigger-110 pink"></i>
												</span>
											</button>
										</div>
									</div>
								</div>
							</div>
      <table class="table table-fit mt-5 table-striped" >
        <thead class="table-dark">
          <tr>
          <th></th>
            <th scope="col">Title</th>
            <th scope="col">Avatar</th>
            <th scope="col">Views</th>
            <th scope="col">ShortDescription</th>          
             <th scope="col">Like</th>
             <th scope="col">Dislike</th>
             <th scope="col">CreateDate</th>
             <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each = "video : ${videos}">
            <th ><input type="checkbox" name='foo' th:id="|checkbox_${video.id}|" th:value="${video.id}"></th>
            <td th:text ="${video.title}"></td>
            <td ><a th:href="@{/watch(id=${video.id})}"><img th:src="${video.avatar}"  style="width:100px;height:60px;"></a></td>
            <td th:text ="${video.views}"></td>
            <td th:text ="${video.shortDescription}"></td>
            <td th:text ="${video.likes}"></td>
            <td th:text ="${video.dislike}"></td>
            <td th:text ="${video.createdDate}"></td>
            <td >
              <div class="d-flex flex-row  mb-3">
                <a th:href = "@{/user/{uid}/video/edit(id=${video.id},uid=${#authentication.principal.user.id})}" ><button type="button" class="btn">
                  <i class="material-icons text-warning">edit</i>
                </button></a>
              
              </div>
            </td>
          </tr>
       
        </tbody>
      </table>
    </div>
</div>

   	<div th:replace="uTemplate.html :: script"></div>
   	
   
    <script th:inline="javascript">

    function warningBeforeDelete() {
		swal({
			title : "Are you sure delete?",
			text : "You will not be able to recover",
			icon : "warning",
			buttons: true,
			dangerMode: true,
		}).then((isConfirm) => {
					if (isConfirm) {
						var ids = $('tbody input[type=checkbox]:checked')
								.map(function() {
									return $(this).val();
								}).get();
						deleteNew(ids);
					}else {
					    swal("Video is safe!");
					  }
				});
	}
	
			function deleteNew(ids) {
			$.ajax({
						url : '/user/api/video',
						type : 'DELETE',
						contentType : 'application/json',
						data : JSON.stringify(ids),
						success : function(result) {
							location.reload();
							
						},
						error : function(error) {
							 swal("Error!", "Delete error", "error");
						}
						
					});console.log(ids)
		}
	</script>
  </body>
</html>
