<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="header(title)">
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title th:text="${title}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{/asset/icons8-youtube-48.png}">
    
    <!-- css -->
    <link th:href = "@{/css/user/u.css}" rel="stylesheet" type='text/css' media='screen' />
    
      <!--Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
   
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
  
    
</head>
<body>
    <nav class="flex-div" th:fragment="top">
        <div class="nav-left flex-div">
            <img src="/asset/menu.png" class="menu-icon">
             <a th:href="@{/}"><img src="/asset/icons8-youtube-48.png" class="logo"></a>
        </div>
        <div class="nav-middle flex-div">
            <div class="search-box flex-div">
                <form autocomplete="off" th:action="@{/user/{id}/videos(id=${#authentication.principal.user.id})}" class="cc" method="get">
                    <div class="autocomplete">
                        <input id="myInput" type="text" name="search_query" placeholder="Search Video ...">
                    </div>
                    <input type="submit" id="search-submit" value="" style="background-image: url(/asset/search.png)" />
                </form>
            </div>
            <img src="/asset/voice-search.png" class="mic-icon">
        </div>
        <div class="nav-right flex-div">          
            <div sec:authorize = "isAnonymous()">
             <a th:href="@{/login}" id="btn-login"> <button>Sign In</button> </a> </div>
             <div sec:authorize="isAuthenticated()" >
             	<a th:href ="@{/user/{id}/videos(id=${#authentication.principal.user.id})}"><img src="/asset/upload.png"></a>
            	
            	<div class="dropdown">
     			 <img th:src="${#authentication.principal.user.avatar}" />
     			 	<div class="dropdown-content">
     			 	<a sec:authorize ="hasRole('ADMIN')" th:href="@{/admin/home}"><img src="/asset/home.png">Home Admin</a> 
     			 	<a th:href="@{/user/{id}/edit(id=${#authentication.principal.user.id})}"><img src="/asset/user.png">Edit Profile </a>    
     			 	<a th:href="@{/logout}"><img src="/asset/logout.png">Log Out </a> 	
     			 	
     			 	</div>
     			</div>
     			 </div>
            
        </div>
    </nav>
                    <!-- sidebar-->
        <div class="shortcut-links" th:fragment="sidebar">
            <a th:href="@{/}"><img src="/asset/home.png">Home</a>
            
             <a th:href="@{/user/{id}/videos(id=${#authentication.principal.user.id})}"><img src="/asset/playlist.png">Playlist</a>
             
            <hr>
        </div>
     
        			<!-- Script -->
        <div th:fragment="script" >
        
         <script th:src = "@{/js/script.js}"></script>
 		<script th:src = "@{/js/search.js}" type="text/javascript"></script>
 		
 	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>	
	<!-- alert -->
	  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 		
 		<script type="text/javascript" th:inline="javascript"> 
 		var results = [];
 		/*[# th:each="n : ${searchs}"]*/
 		results.push("[(${n.title})]");
 		/*[/]*/
 		
 	    
 		autocomplete(document.getElementById("myInput"), results);
 		</script>
        </div>
</body>